@tailwind base;

.scroller {
  scrollbar-width: 4px;
  scrollbar-color: var(--secondary) var(--primary);
}
.scroller::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scroller::-webkit-scrollbar-thumb {
  background-color: rgb(163, 150, 150);
  border-radius: 10px;
}

@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
